{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
href="{{ url_for('static', filename='artiste.css') }}"/>
{% endblock %}
{% block main %}
		<ul>
		{% for a in listeArtiste %}
			<li>
				<p>{{ a.nom }}</p>
        <a href="{{url_for('afficherInfoArtiste', art=a.nom )}}">
        <img width="80%" src="{{ url_for('static', filename='Images/Artiste/'+a.nom+'.jpg')}}"alt="Image non trouvée">
        <a/>
			</li>
		{% endfor %}
		</ul>
{% endblock %}
