{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}


{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet"
href="{{ url_for('static', filename='home.css') }}"/>
{% endblock %}


{% block metas %}
{{ super() }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block navbar %}

<!-- La nav bar :  -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <!-- Accueil + LOGO -->
      <a class="navbar-brand" href="{{url_for('home')}}">iMusic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <!-- Les musiques tendances actuelles -->
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}"> Découvrir <span class="sr-only">(current)</span></a>
          </li>

          <!-- Les albums -->
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('afficherListeAlbum', numero_page=0)}}"> Albums </a>
          </li>

          <!-- Les artistes -->
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('afficherListeArtiste', numero_page=0)}}">Artistes</a>
          </li>

          <!-- Gestion de compte // Login, Connection de l'utilisateur -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{url_for('profil', log=current_user.login)}}">Profil</a>
              <a class="dropdown-item" href="#">A propos de nous // Nous contacter</a>
            </div>
          </li>
        <!-- Bouton recherche -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Recherche">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche </button>
        </form>

        <!-- Connexion -->
        <li class="nav-item">
          {% if current_user.is_authenticated %}
          <a class="nav-link" href="{{url_for('deconnexion')}}">{{ current_user.login}}, Deconnexion </a>
          {% else %}
          <a class="nav-link" href="{{url_for('connexion')}}">Se connecter</a>
          {% endif %}
        </li>
      </ul>
      </div>
    </nav>
{% endblock %}


{% block content %}
<h1> {{title}} </h1>

<main role="main" class="container">
{% block main %}{% endblock %}
</main>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}
