{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
href="{{ url_for('static', filename='home.css') }}"/>
{% endblock %}
{% block main %}
  {% if current_user.is_authenticated %}
    <h2> Bienvenue {{ current_user.login}}</h2>
  {% else %}
    <h2> Bienvenue </h2>
  {% endif %}
{% endblock %}
