.starter-template{
  padding: 3rem 1.5rem;
  text-align: center;
}
body{
  padding-top: 10em;
}
ul{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.liste{
  padding-left: 2em;
  flex: 0 0 27%;
}
h1{
  text-align: center;
  color: grey;
}
