.starter-template{
  padding: 3rem 1.5rem;
  text-align: center;
}
body{
  padding-top: 10em;
}
ul{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
li{
  padding-left: 2em;
  flex: 1 1 0;
}
